@page "/chess/"
@inject IJSRuntime JsRuntime
@using SomeChess.Components
@using SomeChess.Code.Social
@inject UserAuthentication social
@inject NavigationManager NavigationManager

<body style="background-color: var(--BackgroundColor);">

</body>
<div class="flex h-24 justify-center content-center items-center">
    <h1 class="font-bold text-5xl" style="color: var(--TextColor)">bebebebe</h1>
</div>

<ChessField></ChessField>


@code
{
    [Parameter]
    public int MatchID { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await social.UpdateCurrentPlayerAsync();
            if (social.CurrentPlayer == null)
            {
                Console.WriteLine("Cannot fetch: user is null");
                NavigationManager.NavigateTo("/", forceLoad: true);
            }
        }
    }
}