@page "/chess/"
@inject IJSRuntime JsRuntime
@inject UserAuthentication social
@using SomeChess.Components
@using SomeChess.Code.Social

<body style="background-color: var(--BackgroundColor);">

</body>
<div class="flex h-24 justify-center content-center items-center">
    <h1 class="font-bold text-5xl" style="color: var(--TextColor)">bebebebe</h1>
</div>

<ChessField></ChessField>


@code
{
    [Parameter]
    public int MatchID { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await social.UpdateCurrentPlayerAsync();
    }
}