@page "/"
@inject IJSRuntime JsRuntime;
@inject UserAuthentication social
@using SomeChess.Components
@using SomeChess.Code.Social
<body style="background-color: var(--BackgroundColor);">

</body>
<div class="flex h-24 justify-center content-center items-center">
    <h1 class="font-bold text-5xl" style="color: var(--TextColor)">Die beste App für Schach!</h1>

    <input id="newNameInput" style="margin-left: 20px" name="newNameInput" placeholder="Enter your nickname" @bind="@NewName"/>
    <button id="submitName" style="margin-left: 20px; color: white; background-color: green; padding: 5px; font-size: 24px; border: 2px solid white; border-radius: 10px" @onclick="() => ChangeUsername()">Enter Name</button>
    @if(social.CurrentPlayer != null)
    {
        <label id="infoLabel" style="margin-left: 20px; color: white; font-size: 24px">@InfoText</label>
        <label id="NameLabel" style="margin-left: 20px; color: white; font-size: 24px">@social.CurrentPlayer.Name</label>
    }
    
</div>

<Chessboard></Chessboard>


@code
{
    public string NewName { get; set; } = "";

    public string InfoText { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await social.ClearBrowserUserDataAsync();
        }
    }


    public void ChangeUsername()
    {
        Player? player = social.FetchPlayerAsync().Result;

        if(player == null)
        {
            PlayerStorage storage = PlayerStorage.GetInstence();
            if (storage.IsNameFree(NewName) && NewName != "")
            {
                Player? newPlayer = social.CreateNewPlayer(NewName).Result;
                if(newPlayer != null)
                {
                    social.PersistPlayerAsync(newPlayer);
                }
                InfoText = "Your new name is: ";
            }
            else
            {
                InfoText = "This name is already taken!";
            }
        }
        else
        {
            InfoText = "You are already logged in! Your name is:";
        }
    }
}
