@page "/"
@inject IJSRuntime JsRuntime;
@inject UserAuthentication social
@using SomeChess.Components
@using SomeChess.Code.Social
<body style="background-color: var(--BackgroundColor);">

</body>
<div class="flex h-24 justify-center content-center items-center">
    <h1 class="font-bold text-5xl" style="color: var(--TextColor)">Die beste App für Schach!</h1>

    <input id="newNameInput" style="margin-left: 20px" name="newNameInput" placeholder="new name" @bind="@NewName"/>
    <button id="submitName" style="margin-left: 20px; color: white; background-color: green; padding: 5px; font-size: 24px; border: 2px solid white; border-radius: 10px" @onclick="() => ChangeUsername()">Apply</button>
    @if(social.CurrentPlayer != null)
    {
        <label id="infoLabel" style="margin-left: 20px; color: white; font-size: 24px">@InfoText</label>
        <label id="NameLabel" style="margin-left: 20px; color: white; font-size: 24px">@social.CurrentPlayer.Name</label>
    }
    
</div>

<Chessboard></Chessboard>


@code
{
    public string NewName { get; set; } = "";

    public string InfoText { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await social.FetchPlayerAsync();
            if(social.CurrentPlayer == null)
            {
                Console.WriteLine("Index.razor: Current user is null");
            }
            else
            {
                Console.WriteLine("Index.razor: Current user was updated");
                InfoText = "Your name:";
                StateHasChanged();
            }
        }
    }


    public void ChangeUsername()
    {
        Console.WriteLine("ChangeUsername() begins");

        try
        {
            Player? player = social.CreateNewPlayer(NewName).Result;

            if (player == null)
            {
                Console.WriteLine("user is null");
                InfoText = "This name is already taken!";

            }
            else
            {

                social.PersistPlayerAsync(player);
            }

            InfoText = "Your name: ";
        }
        catch
        {
            Console.WriteLine("Doesnt work");
        }
    }
}
