@page "/"
@inject IJSRuntime JsRuntime;
@using SomeChess.Components
<body style="background-color: var(--BackgroundColor);">

</body>
<div class="flex h-24 justify-center content-center items-center">
    <h1 class="font-bold text-5xl" style="color: var(--TextColor)">The best app to play chess!</h1>
</div>

<Chessboard></Chessboard>


@code
{

}
