@page "/Chess/{SomeVariable}"
@using SomeChess.Components

<body style="background-color: var(--BackgroundColor);">

</body>
<Chessboard></Chessboard>


@code {
    [Parameter]
    public string SomeVariable { get; set; }
}
